<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RutgersAppReborn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>475D296C1E1584990032C443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>475D29881E15849A0032C443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>475D29931E15849A0032C443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
